mixin contact()
  section.contact
    h1 Contact Me
    form(action="")
      label.contact__name Name:
        input(type="text" id='name')

      label.contact__email Email:
        input(type="email" id='email')

      label(message="message").contact__message Message:
        textarea(name="" id="message")
      button(type="submit").contact__button send


