mixin footer()
  footer.footer
    p Follow me on social media
    .social__icons
      a(href="#")
        svg(width="50", height="50").social__icon
          use(xlink:href="img/sprite-svg.svg#twitter")
      a(href="#")
        svg(width="50", height="50").social__icon
          use(xlink:href="img/sprite-svg.svg#github")
      a(href="#")
        svg(width="50", height="50").social__icon
          use(xlink:href="img/sprite-svg.svg#vk")
    p.social__copyright  Copyright 2018 Ser Portfolio
