extends templates/layout-home.pug

block meta
  title My Portfolio
  meta(name='description', content='My Portfolio!')

//- block append head
//-   link(rel="stylesheet", href="some.css")
//-   script(src='some.js')

block nav
  +nav()
block content
  +hero()
  +welcome()
  +about-me()
  +portfolio()
  +contact()
block page-bottom
  +footer()
//- block append page-bottom
//-   script(src='some.js')
