$white: #FFFFFF;
$light-gray: #A7A7A7;
$gray: #E8E9EB;
$dark-gray: #606060;
$accent: #03AFC2;
$dark-blue: #223843;

$font-family:         -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
$font-size:           14px;
$line-height:         1.4;

$screen-xs:           480px;
$screen-sm:           768px;
$screen-md:           992px;
$screen-lg:           1200px;
$screen-xl:           1920px;
